$blue: #4981C2;
$blue-filter: brightness(0) saturate(100%) invert(54%) sepia(7%) saturate(6531%) hue-rotate(179deg) brightness(86%) contrast(72%);
$blue-hover: #C9DAED;
$light-blue:#C1E0FF;
$light-blue-2:#EEF4FA;
$light-blue-3: #9BA1B4;
$light-blue-4: #DBE6F3;
$deep-blue: #212843;
$light-gray-3: #C0C2C9;
$light-gray-2: #EFF0F2;
$light-gray: #F4F5F1;
$gray:#707070;
$dark-gray: #525767;
$orange:#F3A335;
$dark-teal:#1C7370;
$red-error: #dc3232;
$green-success:#46b450;
$dark-orange : #F28F6A;
$white: #ffffff;
$purple: #A991DE;
