$button-border-radius: 3px;
$header-footer-container-max-width:1180px;
$page-builder-container-max-width:1180px;
$page-builder-row-vertical-padding: 96px;
$page-builder-row-vertical-padding-mobile: 50px;
$spacing-between-modules:96px;
$spacing-between-modules-mobile:80px;
$card-spacing:38px;
$spacing-between-heading-content:38px;
$footer-wave-height: 115px;
$footer-wave-height-lg: 75px;
$footer-wave-height-sm: 60px;