.stay-connected-container{
    position: relative;
    padding-top: 40px;
    padding-bottom: calc($spacing-between-modules/2 + $footer-wave-height);
    background: linear-gradient(180deg, var(--fr-theme-bg-ftc-top-color) 0%, var(--fr-theme-bg-ftc-bottom-color) 100%);
    

    @include breakpoint(lg down){
        padding-bottom: calc($spacing-between-modules/2 + $footer-wave-height-lg);
    }

    @include breakpoint(sm down){
        padding-bottom: calc($spacing-between-modules/2 + $footer-wave-height-sm);
    }

    .contact-us{
        color: var(--fr-theme-main-color);
        text-align: center;
        margin: 0;
    }

    .stay-connected-content{
        text-align: center;

        a.cta-button{
            width: 190px;
            background-color: var(--fr-theme-main-color);
        }
    } 

    @include wave-top;
}