/*
html :where(.editor-styles-wrapper) .is-root-container for backend styles in gutenberg
*/

body:not(.wp-admin),
html :where(.editor-styles-wrapper) .is-root-container {
    color: $dark-gray;
}

body:not(.wp-admin) h1,
html :where(.editor-styles-wrapper) .is-root-container h1 {
    font-size: 56px;
    line-height: 64px;
    @include font-primary-bold;

    @include breakpoint(lg down) {
        font-size: 40px;
        line-height: 48px;
    }
}

body:not(.wp-admin) h2,
html :where(.editor-styles-wrapper) .is-root-container h2 {
    font-size: 40px;
    line-height: 48px;
    @include font-primary-bold;

    @include breakpoint(lg down) {
        font-size: 32px;
        line-height: 40px;
    }
}

body:not(.wp-admin) h3,
html :where(.editor-styles-wrapper) .is-root-container h3 {
    font-size: 32px;
    line-height: 40px;
    @include font-primary-bold;

    @include breakpoint(lg down) {
        font-size: 24px;
        line-height: 32px;
    }
}

body:not(.wp-admin) h4,
html :where(.editor-styles-wrapper) .is-root-container h4 {
    font-size: 24px;
    line-height: 32px;
    @include font-primary-bold;

    @include breakpoint(lg down) {
        font-size: 22px;
        line-height: 28px;
    }
}

body:not(.wp-admin) h5,
html :where(.editor-styles-wrapper) .is-root-container h5 {
    font-size: 22px;
    line-height: 28px;
    @include font-primary-bold;

    &.sub {
        @include font-primary;
        font-size: 22px;
        line-height: 36px;
    }

    @include breakpoint(lg down) {
        font-size: 16px;
        line-height: 24px;
    }
}

body:not(.wp-admin) h6,
html :where(.editor-styles-wrapper) .is-root-container h6 {
    font-size: 16px;
    line-height: 24px;
    @include font-primary-bold;

    @include breakpoint(lg down) {
        font-size: 14px;
        line-height: 24px;
    }
}

body:not(.wp-admin) p,
html :where(.editor-styles-wrapper) .is-root-container p {
    font-size: 18px;
    line-height: 32px;
    @include font-primary;

    &.sm {
        font-size: 14px;
        line-height: 24px;
    }
}

body:not(.wp-admin) a,
html :where(.editor-styles-wrapper) .is-root-container a {
    font-size: 18px;
    line-height: 32px;
    color: $blue;
    @include font-primary;

    &.sm {
        @include sm-style;
    }
}

body:not(.wp-admin) {
    font-size: 18px;
    line-height: 32px;
    @include font-primary;
}

label {
    &.sm {
        @include sm-style;
    }
}


