.video-embed {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	margin-bottom: 48px;
}
.video-embed iframe,
.video-embed object,
.video-embed embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-height:463px;
	border-radius:8px;
	@include breakpoint(sm down){
        max-height: 218px;
    }
}

.video-embed{
	.thumbnail-container{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-height:463px;
		@include breakpoint(sm down){
			max-height: 218px;
		}
		background-color: $light-gray;
		
		.inner-overlay{
			position: relative;
			width: 100%;
			height: 100%;
			background-color: transparent;

			>img{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}

			.play-btn{				
				background-size: contain;
    			background-position: center;
				box-sizing: border-box;
				height: 90px;
				width: 90px;
				border-radius: 44px;
				@include breakpoint(sm down){
					height: 60px;
					width: 60px;
					border-radius: 38px;	
					border: 0.51px solid $white;
					top: calc(50% - 26px);
					left: calc(50% - 32px);
				}
				border: 1px solid $white;
				background-color: var(--fr-theme-main-color);
				position: absolute;
				top: calc(50% - 50px);
				left: calc(50% - 50px);
				transition: transform 0.25s ease-out;
				transform-origin: center;

				&:hover{
					transform: scale(1.1);
				}
				.arrow-triangle {
					position: absolute;
					background-color: $white;
					top: calc(50% - 8px);
					left: calc(50% - 8px);
					width: 12px;
					height: 12px;
					@include breakpoint(sm down){
						width: 6px;
						height: 6px;
						top: calc(50% - 4px);
						left: calc(50% - 4px);
					}
					border-top-right-radius: 30%;
				  
				  &:before,
				  &:after {
					content: '';
					position: absolute;
					background-color: inherit;
					width: 12px;
					height: 12px;
					@include breakpoint(sm down){
						width: 6px;
						height: 6px;
					}
					border-top-right-radius: 30%;
				  }				  
				  &.left {
					transform: rotate(-90deg) skewX(-30deg) scale(1,.866);
				  }
				  &:before {
					transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
				  }
				  
				  &:after {
					transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
				  }
				}
				
			}
		}
	}
}
/*** Gallery Video CSS***************/
.mejs-container{
	border-radius: 8px;
	margin-bottom: 20px;

	video.wp-video-shortcode{
		border-radius: 8px;
	}

	.mejs-overlay-button{
		background:none !important;
		background-size: contain !important;
		background-position: center !important;
		box-sizing: border-box;
		height: 90px !important;
		width: 90px !important;
		border-radius: 44px !important;
		@include breakpoint(sm down){
			height: 60px;
			width: 60px;
			border-radius: 38px !important;	
			border: 0.51px solid $white;
			top: calc(50% - 26px);
			left: calc(50% - 32px);
		}
		border: 1px solid $white;
		background-color: var(--fr-theme-main-color) !important;
		position: absolute;
		top: calc(50% - 50px);
		left: calc(50% - 50px);
		transition: transform 0.25s ease-out;
		transform-origin: center;

		&:hover{
			transform: scale(1.1);
		}
		.arrow-triangle {
			position: absolute;
			background-color: $white;
			top: calc(50% - 8px);
			left: calc(50% - 8px);
			width: 12px;
			height: 12px;
			@include breakpoint(sm down){
				width: 6px;
				height: 6px;
				top: calc(50% - 4px);
				left: calc(50% - 4px);
			}
			border-top-right-radius: 30%;
					
			&:before,
			&:after {
				content: '';
					position: absolute;
					background-color: inherit;
					width: 12px;
					height: 12px;
					@include breakpoint(sm down){
						width: 6px;
						height: 6px;
					}
						border-top-right-radius: 30%;
			}				  
			&.left {
				transform: rotate(-90deg) skewX(-30deg) scale(1,.866);
			}
			&:before {
				transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
			}
			
			&:after {
				transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
			}
		}
	}
	.mejs-controls{
		border-radius: 8px

	}
}
