$wave-height: 140px;
$wave-height-sm: 100px;

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: -$footer-wave-height;
    margin: auto;
    height: $footer-wave-height;

    @include breakpoint(lg down){
      top: -$footer-wave-height-lg;
      height: 100px;
    }

    @include breakpoint(sm down){
      top: -$footer-wave-height-sm;
      height: 80px;
    }


    //transform: rotate(180deg);
    .wave {
        position: absolute;
        width: 100%;
        /*height from the svg file*/
        height: $wave-height;
        bottom: 0;
        left: 0;
        background-image: url("../images/footer-wave.svg");
        animation: waves 10s linear infinite;
        
        @include breakpoint(lg down){
          background-size: 100% 100%;
        }

        @include breakpoint(sm down){
            animation: waves 40s linear infinite;
            height: $wave-height-sm;
        }

        &:before, &:after{
          content:'';
          width: 100%;
          height: $wave-height;
          position: absolute;
          top: 0;
          left: 0;

          @include breakpoint(lg down){
            background-size: 100% 100%;
          }

          @include breakpoint(sm down){
            height: $wave-height-sm;
          }
        }
            
        &:before {
            background-image: url("../images/footer-wave.svg");
            opacity: 0.3;
            animation: waves-reverse 10s linear infinite;
            
            @include breakpoint(sm down){
                animation: waves-reverse 40s linear infinite;
            }
            
        }
      
        &:after {
            background-image: url("../images/footer-wave.svg");
            opacity: 0.5;
            animation-delay: -5s;
            animation: waves 20s linear infinite;

            @include breakpoint(sm down){
                animation: waves 80s linear infinite;
            }
        }
    }
}

  
  
  @keyframes waves {
    0% {
      background-position: 0;
    }
    100% {
      /* from width of the svg file */
      background-position: 1600px;
    }
  }
  
  @keyframes waves-reverse {
    0% {
      background-position: 1600px;
    }
    100% {
      background-position: 0;
    }
  }