.article-list-module{
    padding: 0 105px;
    color : $dark-gray;
    
    @include breakpoint(md down){
        padding: 0;
    }

    .full-content{
        box-shadow: 0 2px 10px 0 rgba(82,87,103,0.2);
        padding: 40px 28px;
        margin-bottom: 16px; 
        border-radius: 8px;
        .more-less{
            border: none;
            background: transparent;
            color: $blue;
            text-decoration: underline;
            cursor: pointer;
            padding-left: 0px;
            margin-top: 16px;
        }
        .exerpt{
            color: $dark-gray;
        }      
        .more-less:focus{
            outline: unset;
        }
        .hide-content{
            display: none;
            p, ul, ol{
                margin-bottom: 0;
            }
            ul, ol{
                margin-top: 16px;
            }

        } 
        
    }
}