.related-content-card-grid-with-filter-module {
	.load-btn-container {
		display: none;
	}
	.redirect-button {
		height: max-content;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 38px;
		.cta-button {
			min-width: 178px;
			text-align: center;
			@include breakpoint(sm down) {
				width: 100%;
			}
		}
	}
}
